/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 50px auto;
    max-width: 600px;
  }
  
  li {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin: 0;
  }
  
  p {
    margin: 5px 0 0 0;
  }  