* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  background-color: rgb(134, 56, 186);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.cabecera h1 {
  color: #000;
  margin: 0 50px;
}
.cabecera ul {
  margin: 0 50px;
}
.cabecera ul li {
  display: inline-block;
  list-style: none;
  padding: 20px;
}
.cabecera ul li a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 40px auto;
}
.container .informacion {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container .informacion img {
  width: 25%;
  height: 25%;
}
.container .informacion p {
  text-align: justify;
  line-height: 30px;
}
.container .buscador {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.container .buscador {
  position: relative;
}
.container .buscador input {
  border: 1px solid #000;
  padding: 8px;
  outline: none;
}
.container .filtrar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #000;
}
.container .buscador .icon img {
  width: 20px;
  height: 20px;
}
.container .icon {
  position: absolute;
  display: block;
  top: 5;
  right: 10px;
}
.container .peliculas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.container button {
  border: none;
  background-color: transparent;
  background-color: rgb(110, 9, 98);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  transition: all .5s;
}
.container button:hover {
  background-color: rgb(148, 13, 132);
}
.container .peliculas .view-peli {
  border: 2px solid #000;
  box-shadow: 0 0 5px #8e8e8e, 0 0 15px #8e8e8e;
}
.container .peliculas .view-peli img {
  width: 100%;
  height: 400px;
}

.container .peliculas a:hover {
  transform: scale(1.05);
}
.container .peliculas a {
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  color: #000;
  transition: all .5s;
}